<section class="sm:h-lvh mb-16">
    <div class="container h-full px-6 py-8 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="g-4 flex h-full flex-wrap items-center justify-center lg:justify-between">
            <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
                <img src="https://www.unitec.mx/hs-fs/hubfs/Imported_Blog_Media/tips-super-basicos-de-seguridad-informatica-5-Dec-17-2022-06-01-39-3384-PM.png?width=1200&height=340&length=1200&name=tips-super-basicos-de-seguridad-informatica-5-Dec-17-2022-06-01-39-3384-PM.png" class="w-full border-orange-900 border-solid rounded-2xl border-8" alt="Seguridad Informatica"/>
            </div>
            <div class="md:w-8/12 lg:ml-6 lg:w-5/12">
                <form action="/session/login" method="post">
                    <div class="relative mb-6">
                        <label class="text-gray-700">Dirección de email</label>
                        <input type="text" name="email" required class="bg-slate-500 peer block min-h w-full rounded border-0 px-3 py-[0.32rem] leading-[2.15] outline-none" id="exampleFormControlInput3" placeholder="Email"/>
                    </div>
                    <div class="relative mb-6">
                        <label class="text-gray-700">Contraseña</label>
                        <input type="password" name="password" required class="bg-slate-500 peer block min-h w-full rounded border-0 px-3 py-[0.32rem] leading-[2.15] outline-none" id="exampleFormControlInput33" placeholder="********" />
                    </div>
                    <div class="mb-6 flex items-center justify-between">
                    <a href="/forget_password" class="text-gray-700 transition duration-150 ease-in-out hover:text-orange-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500">Olvide mi contraseña</a></div>
                    <button type="submit" class="inline-block w-full rounded bg-gray-700 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-slate-400 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-gray-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-init data-te-ripple-color="light">Ingresar</button>
                    <div class="my-4"></div>
                    <a href="/register"><button type="button" class="inline-block w-full rounded bg-gray-700 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-slate-400 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-gray-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202rs,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-init data-te-ripple-color="light">Registrarse</button></a>
                    <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300"><p class="mx-4 mb-0 text-center font-semibold text-neutral-600">O</p></div>
                    <a class="mb-3 flex w-full items-center justify-center rounded bg-gray-800 px-7 pb-2.5 pt-3 text-center text-sm font-medium uppercase leading-normal text-slate-400 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-gray-900 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-gray-800 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" href="/session/github" role="button" data-te-ripple-init data-te-ripple-color="light"> <img class="mr-2 h-3.5 w-4 rounded-full" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"></img> Ingresar con GitHub</a>
                </form>
            </div>
        </div>
    </div>
</section>