<div class="bg-gray-200 flex h-lvh">
    <div class="flex flex-col justify-center text-center mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="flex mx-auto uppercase  h1 text-2xl">
            <h1 class="text-slate-600">Registro realizado con exito!</h1>
        </div>
        <div class="flex mx-auto">
            <button class="my-4 flex mx-auto bg-gray-700 hover:bg-gray-700 hover:text-neutral-500 font-semibold py-2 px-4 border text-neutral-400 hover:border-transparent rounded">
                <a href="/login">Iniciar sesión</a>
            </button>
        </div>
    </div>
</div>