<div class="h-screen mb-28">
    <div class="mx-auto max-w-2xl px-4 pb-8 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8 bg-slate-300 h-screen">
        <div class="bg-gray-700 py-4 flex justify-center space-x-16">
            <h1 class="text-center text-sm font-bold text-gray-400 sm:text-2xl">Chat</h1>
            <h2 class="text-center text-sm font-bold text-gray-400 sm:text-2xl" id="username">{{user}}</h2>
        </div>
        <div class="flex-grow overflow-y-auto h-full">
            <div id="messagesLogs" class="flex flex-col space-y-2 p-4 ">
            </div>
        </div>
        <div class="flex items-center p-4">
            <input id="chatBox" type="text" placeholder="Escribe su mensaje.."
                class="w-full rounded-lg border border-slate-700 px-4 py-2 bg-gray-700" />
            <button class="ml-2 rounded-lg bg-gray-700 px-4 py-2 hover:bg-slate-400 hover:text-zinc-700 text-gray-400" id="sendBtn">Enviar</button>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>